//Color codes

$white: #fff;
$salmon: #FF6666;
$light-green: #00FF80;
$light-blue: #66CCFF;
$light-purple: #FF66FF;
$sm-blue : #1D94D0;
$chat-blue: #0080FF;
$grey-text: #7F7F7F;
$search-grey: #999999;
$message-seen: #0080FF;
$not-seen: #B3B3B3;
$grey-line: #95989A;
$black-line: #7F7F7F;
$black-text: #191919;
