.recommended-buddy
  .profile-picture
    .white-box
      img(src="assets/images/profile-images/example-profilepic1.jpg")
  
  .information
    .grid
      ul.info-list
        li(class="name")
          h5.without-image Name
        li(class="years") 
          h5.without-image Years old
        li(class="location")
          img(src="assets/images/info-icons/location-icon.svg")
          h5.with-image Location
        li(class="languages")
          img(src="assets/images/info-icons/code-icon.svg")
          h5.with-image Coding languages
        li(class="intresting")
          img(src="assets/images/info-icons/hot-icon.svg")
          h5.with-image Instresting for him
        li(class="education")
          img(src="assets/images/info-icons/education-icon.svg")
          h5.with-image Education
  
  .social-links
    .box-1
      img(src="#")
      .white-arrow
      
    .box-2
      img(src="#")
      .white-arrow
      
    .box-3
      img(src="#")
      .white-arrow1
      
    .box-4
      img(src="#")
      .white-arrow
    .white-box1
  
  .cta-buttons
    .cta-chat
    .cta-save
    .cta-forward
